<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>



    <% for (var css in htmlWebpackPlugin.files.css) { %>
      <link href="<%=htmlWebpackPlugin.files.css[css] %>" rel="stylesheet"><% } %>

    
  </head>
  <body>
      hello world

      <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script><% } %>
  </body>
</html>